################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspWebApiCoreExceptionHandling/AspWebApiCoreExceptionHandling/bin/Debug/netcoreapp2.0
